.visibleModalWindow {
    width: 500px;
    /* background-color: antiquewhite; */
    padding: 30px;
    margin: 0 auto;
}

.notVisibleModalWindow {
    display: none;
}

.notVisibleSignUpForm {
    display: none;
}

.signUpForm {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 30px;
    max-width: 600px;
    min-width: 300px;
}

.mainText {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.inputAuth {
    border: 1px solid #7d7d7d;
    border-radius: 30px;
    text-align: center;
    padding: 15px 70px;
    gap: 10px;
    margin-top: 30px;
}
.selectAuth{
   
    margin-top: 20px;
    padding: 20px 70px;
    border-radius: 30px;
    font-size: 18px;
}
/* .selectAuthWrap{
    text-align: left;
    margin-left: 20px;
} */
.secondaryTextAuth{
    font-size: 20px;
    font-weight: 450;
    margin: 20px;
    color: #1E1E1E;
    opacity: 0.6;
}
.buttonAuth{
    margin-top: 20px;
    padding: 15px 18px;
    font-size: 22px;
}
